* {
  box-sizing: border-box;
}
.slider-container {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.slider-path {
  height: 25%;
  background-color: #e0e0e0;
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 2%;
  cursor: pointer;
}

svg {
  position: absolute;
}

.circle {
  r: 15;
  transition: r 0.7s;
}
.shape-circle {
  r: 20;
}

.label {
  position: absolute;
  margin-left: 5%;
  left: 0;
  bottom: 5px;
  font-size: 1em;
}
